img {
  max-width: 100%;
}
.gallery {
  padding: 80px 0;
}

.gallery img {
  background-color: #fff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#gallery-modal .modal-img {
  width: 100%;
}

.crop-img {
  object-fit: cover;
}
.tim img {
  width: 250px;
  border: 10px solid #ccc;
}

.pimpinan {
  margin: auto;
}
a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  line-height: 40px;
  color: #fff;
}
